body {
  background: #1f7cca;
}
.mapwrap {
  width: 50%;
  max-width: 700px;
  height: 700px;
  position: relative;
  top: 200px;
  margin: 0px auto 0;
  /*overflow: hidden;*/
  /*box-sizing: border-box;*/
}
#map_canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*transform: translateZ(0px);*/
  background-color: #e5e3df;
  /*margin: 331px auto 0;*/
  border-radius: 50%;
  /*z-index: 10;*/
  border: 10px solid white;
  /*-webkit-clip-path: ellipse(50%);*/
  /*opacity: 0.5;*/
}
.mask {
  width: 178.57142857%;
  height: 191.57142857%;
  top: -52%;
  left: -37.5%;
  background: url('../images/orange.png') no-repeat top center;
  background-size: 100% 100%;
  /*height: 1341px;*/
  /*width: 100%;*/
  position: absolute;
  pointer-events: none;
  /*top: 0; left: 0;*/
}
