body{
    background: #1f7cca; 
}
@mapwidth: 700px;
@maskwidth:1250px;
@maskheight: 1341px;

.mapwrap{
    width: 50%;
    max-width: @mapwidth;
    height: @mapwidth;
    position: relative;
    top: 200px;
    margin :0px auto 0;
    /*overflow: hidden;*/
    /*box-sizing: border-box;*/
}
#map_canvas{
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*transform: translateZ(0px);*/
    background-color: rgb(229, 227, 223);
    /*margin: 331px auto 0;*/
    border-radius: 50%;
    /*z-index: 10;*/
    border: 10px solid white;
    /*-webkit-clip-path: ellipse(50%);*/
    /*opacity: 0.5;*/
}
.mask{
    position: absolute;
    width: @maskwidth / @mapwidth * 100%;
    height: @maskheight / @mapwidth * 100%;
    top: -52%;
    left:-37.5%;

    background: url('../images/orange.png') no-repeat top center;
    background-size: 100% 100%;
    /*height: 1341px;*/

    /*width: 100%;*/
    position: absolute;
    pointer-events: none;
    /*top: 0; left: 0;*/

}