.row{
    font-size: 0;

}
.block {
    overflow: hidden;
    text-align: center;
    /*width: 800px;*/
    /*height: 600px;*/ 
    border: 2px solid red;
    position: relative;
    background: black;
    .coll{
        display: inline-block;
        width: 200px;
        height: 200px; 
        /*box-sizing: border-box;*/
        position: relative;
        font-size: 20px;
        cursor:pointer;
        float: left;
        .background{
            position: absolute; 
            /*padding: 40px;*/
            top: -10%;
            left: -10%; 
            width: 120%;
            height: 120%;

            transition: -webkit-clip-path 0.431s;
            background-size: cover;
            background-position: center center; 
            color: white;
            text-shadow: 2px 2px black;
            .all{
                /*                position: absolute;
                                background: red;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: rgba(255,255,255,0.2);*/

            }  
            &:hover{
                .all{
                    /*background: rgba(255,255,255,0.0);*/ 
                }
            }
        }


    }

}